/* Стили для модального окна */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* затемнение фона */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white; /* белый фон для модального окна */
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .modal-content h2 {
    margin: 0;
    padding: 5px 0;
    color: rgb(30, 30, 30);
  }
  
  .modal-content p {
    margin: 0 0 15px 0;
    color: rgb(30, 30, 30);
  }
  
  .modal-close {
    background-color: #0078c8;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal-close:hover {
    background-color: #005f99;
  }
  
  .modal-success {
    border-left: 4px solid green;
  }
  
  .modal-error {
    border-left: 4px solid red;
  }
  
  .modal-warning {
    border-left: 4px solid orange;
  }
  
  .modal-info {
    border-left: 4px solid blue;
  }
  